log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3/.rake_tasks
/.rake_tasks
/db/development.sqlite3
/app/views/patches/new.html.erb~
/db/migrate/.#20090314051918_create_patches.rb
/app/views/patches/show.html.erb~
/app/views/patches/index.html.erb~
/db/schema.rb
