log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3/.rake_tasks
/.rake_tasks
/db/development.sqlite3
/app/views/patches/new.html.erb~
/db/migrate/.#20090314051918_create_patches.rb
/app/views/patches/show.html.erb~
/app/views/patches/index.html.erb~
/db/schema.rb
/db/migrate/20090314101912_add_parent_patch.rb~
/db/migrate/20090314115859_add_role_authenticated.rb~
/app/models/prepost.rb~
/db/migrate/20090314124915_create_prepatches_postpatches.rb~
/db/migrate/20090314125431_create_preposts.rb~
/app/views/patches/_list.html.erb~
/app/views/patches/.#new.html.erb
/app/views/patches/_centralbox.html.erb~
/app/views/users/show.html.erb~
/app/views/patches/feed.rxml~
/app/views/patches/feed.xml.erb~
