/* === FLASH MESSAGES === */
div#flash-notice {
 color: #333366; background-color: #ffffcc; text-decoration: none; padding: 2px;
}

div#flash-warning {
 color: #ff3333; background-color: #ffcccc; border: solid #ff3333 1px; text-decoration: none; padding: 2px;
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}

body
{
 color: #663; background-color: #cc9; font-family: sans-serif;
}

#header
{
}

#container
{

}

.sub
{
 font-size: 80%; margin-top: 0; margin-bottom: 0; color: #663; text-decoration: none;
}

a.sub
{
 font-size: 80%; margin-top: 0; margin-bottom: 0; color: #663; text-decoration: none;
}

.sub a
{
 margin-top: 0; margin-bottom: 0; color: #903; text-decoration: none;
}

a.action, input.action
{
 color: #cc9; background-color: #903; text-decoration: none; padding: 2px; border: 0; font-size: 90%;
}

#header a.action
{
    font-size: 100%;
}



a.action_l
{
 color: #903; background-color: #cc9; border: solid #903 1px; text-decoration: none; padding: 2px;
}

div.centralbox
{
    margin-top: 0;
    border: 1px solid #903;
    width: 30em;
    color: #000;
    background-color: #cc9;
    padding: 2px;
}

.elm
{
    text-decoration: none; color: #333366; background-color: #eeeeff;
}

form.new_patch
{
width: 30em
}