/* === FLASH MESSAGES === */
div#flash-notice {
 color: #333366; background-color: #ffffcc; text-decoration: none; padding: 2px;
}

div#flash-warning {
 color: #ff3333; background-color: #ffcccc; border: solid #ff3333 1px; text-decoration: none; padding: 2px;
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}

body
{
 color: #000033; background-color: #ccccff; font-family: sans-serif;
}

.sub
{
 font-size: 80%; margin-top: 0; margin-bottom: 0; color: #333366; text-decoration: none;
}

a.sub
{
 font-size: 80%; margin-top: 0; margin-bottom: 0; color: #333366; text-decoration: none;
}

a.action, input.action
{
 color: #eeeeff; background-color: #333366; text-decoration: none; padding: 2px; border: 0;
}

a.action_l
{
 color: #333366; background-color: #eeeeff; border: solid #333366 1px; text-decoration: none; padding: 2px;
}

div.centralbox
{
    margin-top: 0; border: 1px solid #333366; width: 30em; background-color: #eeeeff;
}

.elm
{
    text-decoration: none; color: #333366; background-color: #eeeeff;
}

form.new_patch
{
float: left; width: 30em
}