/* === FLASH MESSAGES === */
div#flash-notice {
 color: #336633; background-color: #ffffcc; border: solid #336633 1px; text-decoration: none; padding: 2px;
}

div#flash-warning {
 color: #ff3333; background-color: #ffcccc; border: solid #ff3333 1px; text-decoration: none; padding: 2px;
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}

body
{
 color: #003300; background-color: #eeeecc; font-family: sans-serif;
}

.sub
{
 font-size: 80%; margin-top: 0; margin-bottom: 0; color: #336633;
}

a.action, input.action
{
 color: #ffffcc; background-color: #336633; text-decoration: none; padding: 2px; border: 0;
}

a.action_l
{
 color: #336633; background-color: #ffffcc; border: solid #336633 1px; text-decoration: none; padding: 2px;
}

div.centralbox
{
    margin-top: 0; border: 1px solid #336633; width: 30em; background-color: #ffffcc;
}

.elm
{
    text-decoration: none; color: #336633; background-color: #ffffcc;
}