<%= title "Browse", :h2 %> 

<%= render :partial => "list",
   :locals =>
     { :patches => @patches,
       :nothing => '(nothing yet)',
       :postonly => true, :pagenum => :page
      } %>

<p>(newest first) <%= link_to 'rss', :action => :feed -%></p>
