<%= title "Create Patch", :h2 %>
<% form_for @patch do |f| %>
	<%= f.error_messages %>
	<%= f.text_area :content %>
	<div class="buttons">
	  <%= submit_tag 'put' %> under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>.
	</div>
<% end %>
